main{
    padding-bottom: 5%;
    background-image: url(../voyages/photos/fond_main_angleterre.png);
    width: 100%;
    background-repeat: no-repeat;
}

#bandeau_angleterre{
    background-image: url(../voyages/photos/angleterre_fond.jpg);
    opacity: 80%;
    padding: 2%;
}
#h1_angleterre{
    font-family: 'Festive',Arial, Helvetica, sans-serif;
    font-size: 550%;
    padding-left: 10%;
    color: whitesmoke;
}

#intro{
    padding-top: 3%;
    padding-left: 10%;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    vertical-align: top;
    padding: 3%;
}
.image:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition-duration: 1s;
}

#texte1{
    padding-top: 3%;
    padding-left: 11%;
    padding-right: 10%;
    padding-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
#texte2{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 13%;
    padding-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
#texte3{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 13%;
    padding-bottom: 3%;
    font-family: Arial, Helvetica, sans-serif;
}

#deplacement_texte{
    background-image: url(../voyages/photos/fond_blanc_angleterre.png);
    display: flex;
    justify-content: space-evenly;
}

.deplacement{
    display: flex;
    justify-content: center;
}

#video_angleterre{
    padding-left: 30%;
    padding-top: 1em;
}


*{
    margin: 0;
    padding: 0;
}



/* début header */

#menu-demo, #menu-demo ul{
    font-size: 30px;
    list-style:none;
    text-align:center;
    }
    #menu-demo li{
    display:inline-block;
    position:relative;
    border-radius:10em;
    }
    #menu-demo ul li{
    display:inherit;
    }
    #menu-demo ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    }
    #menu-demo li:hover ul{
    max-height:15em;
    }

    #menu-demo a{
    text-decoration:none;
    display:block;
    padding:8px 52px;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #a2eeff;
    border-radius: 10em;
    }

    
#crheader{
    height: 32em;
    background-color: #8eb8eb;
    background-repeat: no-repeat;
    background-image: url(../voyages/photos/blue-blue-sky-blue-sky-over-the-ocean-nature-sky-hd-art-wallpaper-preview.png);
}
#crheaderh1{
    font-family: 'Festive', cursive;
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;

}
#crheaderdivcitation{
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;
    
}
#crheaderauteur{
    display: flex;
    justify-content: center;
}
#crheaderul{
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.crheaderli{
    display: inline;
    list-style-type: none;
}
.crheadera{
    display: inline-block;
    margin: 0 30px;
    font-size: 2em;
    color: black;
    text-decoration: none;
    list-style-type: none;
    background-color:#a1e4ff;
    border-radius: 10em;
    width: 10em;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#crheaderleader {
    width: 30px;
    height: 4px;
    background-color: var(--fecorange);
    margin: 2px 0;
    border-radius: 5px;
}
.crheaderbar {
    text-decoration: none;
    color: inherit;
}
#crheaderform{
    margin-top: 4em;
    display: flex;
    justify-content: center;  
}
.crheaderinput{
    border-radius: 10em;
    font-size: 25px;
    background-color: #a1e4ff;

}
/* fin header  */



/* début footer */
#crmapemonde{
    height: 12em;
}
#crdivfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#al_footer{
    background-color: #8eb8eb;
    background-image: url(../voyages/photos/sky_footer.png);
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
#crsocialfooter{
    display: flex;
    flex-direction: column;    
}
.crimgsocial{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

#al_contact{
    display: flex;
    flex-direction: column;
    color: #172f4e;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
#al_reseaux{
color: #172f4e;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
.crcontact{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.cr_titre_footer{
    font-size: 2em;
}
