
/* DEBUT MAIN Accueil */
#lr_main{
    background-image: url(../voyages/photos/fond_main1.jpg);
    background-color: aquamarine;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 34em;
}

#lr_texte_presentation{
    justify-content: left;
    font-size: 150%;
    padding-top: 15%;
    padding-left: 5%;
}

#lr_h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#lr_texte{
    font-family: Arial, Helvetica, sans-serif;
}


/* FIN MAIN  Accueil*/
*{
    margin: 0;
    padding: 0;
}

#crheader{
    height: 33em;
    background-color: blue;
    background-repeat: no-repeat;
    background-image: url(../voyages/photos/blue-blue-sky-blue-sky-over-the-ocean-nature-sky-hd-art-wallpaper-preview.jpg);
}
#crheaderh1{
    font-family: 'Festive', cursive;
    font-size: 4em;
    display: flex;
    justify-content: center;
}
#crheaderdivcitation{
    font-size: 2em;
    display: flex;
    justify-content: center;
}
#crheaderauteur{
    display: flex;
    justify-content: center;
}
#crheaderul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.crheaderli{
    display: inline;
    list-style-type: none;
}
.crheadera{
    display: inline-block;
    margin: 0 30px;
    font-size: 2em;
    color: black;
    text-decoration: none;
    list-style-type: none;
}
#crheaderform{
    display: flex;
    justify-content: center;
}
.crheaderinput{
    font-size: 2em;
}
#al_footer{
    background-color: #8eb8eb;
    width: 100%;
    padding-top: 2.5%;
padding-bottom: 2.5%;
}
#al_contact{
color: #172f4e;
float: left;
padding-left: 12em;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
#al_reseaux{
color: #172f4e;
overflow: auto;
padding-left: 15em;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
#al_newsletter{
    color: #172f4e;
/* overflow: auto; */
padding-left: 70em;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
