#menu-demo, #menu-demo ul{
    font-size: 30px;
    list-style:none;
    text-align:center;
    }
    #menu-demo li{
    display:inline-block;
    position:relative;
    border-radius:10em;
    }
    #menu-demo ul li{
    display:inherit;
    }
    #menu-demo ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    }
    #menu-demo li:hover ul{
    max-height:15em;
    }

    #menu-demo a{
    text-decoration:none;
    display:block;
    padding:8px 52px;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #a2eeff;
    border-radius: 10em;
    }

    
#crheader{
    height: 32em;
    background-color: #8eb8eb;
    background-repeat: no-repeat;
    background-image: url(../voyages/photos/blue-blue-sky-blue-sky-over-the-ocean-nature-sky-hd-art-wallpaper-preview.png);
}
#crheaderh1{
    font-family: 'Festive', cursive;
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;

}
#crheaderdivcitation{
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;
    
}
#crheaderauteur{
    display: flex;
    justify-content: center;
}
#crheaderul{
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.crheaderli{
    display: inline;
    list-style-type: none;
}
.crheadera{
    display: inline-block;
    margin: 0 30px;
    font-size: 2em;
    color: black;
    text-decoration: none;
    list-style-type: none;
    /* text-shadow:0 0 3px #0061FE, 0 0 7px #0061FE, 0 0 20px #0061FE;color:#0061FE; */
    background-color:#a1e4ff;
    border-radius: 10em;
    width: 10em;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#crheaderleader {
    width: 30px;
    height: 4px;
    background-color: var(--fecorange);
    margin: 2px 0;
    border-radius: 5px;
}
.crheaderbar {
    text-decoration: none;
    color: inherit;
}
#crheaderform{
    margin-top: 4em;
    display: flex;
    justify-content: center;  
}
.crheaderinput{
    border-radius: 10em;
    font-size: 25px;
    /* text-shadow:0 0 3px #0061FE, 0 0 7px #0061FE, 0 0 20px #0061FE;color:#0061FE; */
    background-color: #a1e4ff;

}
/* fin header  */
#crmain2{
    height:100%;
    background-image: url(../voyages/photos/african-sunrise-amboseli-national-park63103.jpg);
    background-color: blue;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#crcaroussel{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
#crslider{
    width: 80%;
    max-width: 1000px; 
    overflow: hidden
}
#crfigure{
    position: relative; 
    width: 500%;
    font-size: 0;
    text-align: left;
}
#crfigure{
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 20s slidy infinite;
}
.crimgslide{
    width: 20%; 
    height: auto; 
    float: left;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }
  
#crmapemonde1{
    margin-top: 4em;
    display: flex ;
    justify-content: space-around;
    background-repeat: no-repeat;
}
#crtitre{
    font-size: 4em;
    text-shadow:#e7f6ff 0 -1px 0,
    #a74a0c 1px 1px 0,
    #d97f32 2px 2px 0,
    #f5993d 3px 3px 0,
    #fec362 4px 4px 0,
    #ffe687 5px 5px 0,
    #333 5px 5px 10px;color:#F30034;
    display: flex;
    justify-content: center;
}
.crtd{
    border: 1px solid black;
    padding:10px;
}
.crtr1{
    background-color: blanchedalmond;
}
.crtr2{
    background-color: honeydew;
}
#crh2lyon{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotolyon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#crplyon{
    color: white;
    font-size: 18px;
    margin-right: 4em;
}
#crimglyon{
    height: 17em;
    width: 15em;
}
#crimglyon:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
#crh2elephant{
    color: white;
    display: flex;
    justify-content: left;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotoelephant{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#crpelephant{
    color: white;
    font-size: 18px;
    margin-left: 4em;
}

#crimgelephant {
    height: 25em;
    width: 18em;
} 
#crh2giraphe{
    color: white;
    display: flex;
    justify-content: right;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotogiraphe{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#crpgiraphe{
    color: white;
    font-size: 18px;
    margin-right: 4em;
}
#crimggiraphe{
    height: 17em;
    width: 15em;
}
#crh2bateau{
    color: white;
    display: flex;
    justify-content: left;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotobateau{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#crpbateau{
    color: white;
    font-size: 18px;
    margin-left: 4em;
}

#crimgbateau {
    height: 18em;
    width: 18em;
} 
