#crmain2{
    height:100%;
    background-image: url(../voyages/photos/african-sunrise-amboseli-national-park63103.jpg);
    background-color: blue;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#crmapemonde{
    margin-top: 4em;
    display: flex ;
    justify-content: space-around;
    background-repeat: no-repeat;
}
#crtitre{
    font-size: 4em;
    text-shadow:#e7f6ff 0 -1px 0,
    #a74a0c 1px 1px 0,
    #d97f32 2px 2px 0,
    #f5993d 3px 3px 0,
    #fec362 4px 4px 0,
    #ffe687 5px 5px 0,
    #333 5px 5px 10px;color:#F30034;
    display: flex;
    justify-content: center;
}
td{
    border: 1px solid black;
    padding:10px;
    /* width: 444px; */
    /* height: 22px; */
}
.crtr1{
    background-color: blanchedalmond;
}
.crtr2{
    background-color: honeydew;
}
#crh2lyon{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotolyon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#crplyon{
    color: white;
    font-size: 18px;
    margin-right: 4em;
}
#crimglyon{
    height: 17em;
    width: 15em;
}
#crimglyon:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
#crh2elephant{
    color: white;
    display: flex;
    justify-content: left;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotoelephant{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#crpelephant{
    color: white;
    font-size: 18px;
    margin-left: 4em;
}

#crimgelephant {
    height: 25em;
    width: 18em;
} 
#crh2giraphe{
    color: white;
    display: flex;
    justify-content: right;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotogiraphe{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#crpgiraphe{
    color: white;
    font-size: 18px;
    margin-right: 4em;
}
#crimggiraphe{
    height: 17em;
    width: 15em;
}
#crh2bateau{
    color: white;
    display: flex;
    justify-content: left;
    margin-top: 2em;
    margin-bottom: 2em;
}
#crphotobateau{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#crpbateau{
    color: white;
    font-size: 18px;
    margin-left: 4em;
}

#crimgbateau {
    height: 18em;
    width: 18em;
} 