/* DEBUT MAIN Accueil */
#lr_main{
    background-image:url("../voyages/photos/fond_main1.png");
    background-color: #8eb8eb;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 34em;
}

#lr_texte_presentation{
    justify-content: left;
    font-size: 150%;
    padding-top: 15%;
    padding-left: 5%;
    color: #172f4e;
}

#lr_h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#lr_texte{
    font-family: Arial, Helvetica, sans-serif;
}
#lr_txtform{
    font-family: Arial, Helvetica, sans-serif;
    color: #172f4e;
    font-size: larger;
}

.lr_image_pays{
    width: 100%;
    padding-top: 5%;
}

.container {
    display: inline-block;
    position: relative;
    /* background-color: #a1001b; */
}
.container .text {
    background: #68acffcc;
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 430%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45%;
    color: #3063a7;
    /* width: 90%; */
}

#lr_form {
    /* background-color: #3063a7; */
    background-image: url(../voyages/photos/fond_main.png);
    margin: 7em auto;
    margin-bottom: -25em;
    width: 500px;
  
    padding: 3em;
    border: 7px solid #8eb8eb;
    border-radius: 1em;
  }
  
  #form div + div {
    margin-top: 1em;
  }
  
  label {
      padding-top: 10%;
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    font: 1em sans-serif;
  
    box-sizing: border-box;
  
    border: 5px solid #8eb8eb;
    width: 300px;
    box-sizing: border-box;
  }
  
  input:focus, textarea:focus {
    border-color: #3063a7;
  }
  
  textarea {
    vertical-align: top;
  
    height: 10em;
  }
  
  .boutton {
    padding-left: 90px;
  }
  
  #button {
    margin-left: .5em;
  }

  
    #menu-demo2, #menu-demo2 ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
    }
    #menu-demo2 li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;
    }
    #menu-demo2 ul li{
    display:inherit;
    border-radius:0;
    }
    #menu-demo2 ul li:hover{
    border-radius:0;
    }
    #menu-demo2 ul li:last-child{
    border-radius:0 0 8px 8px;
    }
    #menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    }
    #menu-demo2 li:hover ul{
    max-height:15em;
    }


    #menu-demo2 li:first-child{
    background-color: #3063a7;
    background-image:linear-gradient(to bottom, #7d73d4 0%, #3d1375 100%);
    }
    #menu-demo2 li:nth-child(2){
    background-color: #e0a500;
    background-image:linear-gradient(to bottom, #c57600 0%, #6b2700 100%);
    }
    #menu-demo2 li:nth-child(3){
    background-color: #af0009;
    background-image:linear-gradient(to bottom, #e9748e 0%, #a1001b 100%);
    }


    #menu-demo2 a{
    text-decoration:none;
    display:block;
    padding:8px 52px;
    color:#1f4c88;
    font-family:Arial, Helvetica, sans-serif;
    }
    #menu-demo2 ul a{
    padding:8px 0;
    }
    #menu-demo2 li:hover li a{
    color:#172f4e;
    text-transform:inherit;
    }
    #menu-demo2 li:hover a, #menu-demo2 li li:hover a{
    color:rgb(100, 211, 219);
    }
/* FIN MAIN  Accueil*/
*{
    margin: 0;
    padding: 0;
}
/* début header */
#crheader{
    height: 28em;
    background-color: #8eb8eb;
    background-repeat: no-repeat;
    background-image: url(../voyages/photos/blue-blue-sky-blue-sky-over-the-ocean-nature-sky-hd-art-wallpaper-preview.png);
}
#crheaderh1{
    font-family: 'Festive', cursive;
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;

}
#crheaderdivcitation{
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;
    
}
#crheaderauteur{
    display: flex;
    justify-content: center;
}
#crheaderul{
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.crheaderli{
    display: inline;
    list-style-type: none;
}
.crheadera{
    display: inline-block;
    margin: 0 30px;
    font-size: 2em;
    color: black;
    text-decoration: none;
    list-style-type: none;
    text-shadow:0 0 3px #0061FE, 0 0 7px #0061FE, 0 0 20px #0061FE;color:#0061FE;
    background-color:#a1ffcb;
}
#crheaderleader {
    width: 30px;
    height: 4px;
    background-color: var(--fecorange);
    margin: 2px 0;
    border-radius: 5px;
}
.crheaderbar {
    text-decoration: none;
    color: inherit;
}
#crheaderform{
    margin-top: 7em;
    display: flex;
    justify-content: center;  
}
.crheaderinput{
    border-radius: 22em;
    font-size: 25px;
    text-shadow:0 0 3px #0061FE, 0 0 7px #0061FE, 0 0 20px #0061FE;color:#0061FE;
    background-color:#a1ffcb;
}
/* fin header  */



#al_footer{
    background-color: #8eb8eb;
    background-image: url(../voyages/photos/sky_footer.png);
    width: 100%;
    padding-top: 2.5%;
padding-bottom: 2.5%;
}
#al_contact{
    /* background-color: #a1001b; */
color: #172f4e;
float: left;
padding-left: 12em;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
#al_reseaux{
    /* background-color: #c57600; */
color: #172f4e;
overflow: auto;
padding-left: 5em;
font-size: large;
font-family: Arial, Helvetica, sans-serif;
}
/* #al_newsletter{ */
    /* background-color: pink; */
    /* color: #172f4e; */
/* overflow: auto; */
/* padding-left: 70em;
font-size: large;
font-family: Arial, Helvetica, sans-serif; */
/* } */
a{
    text-decoration: none;
}
