#videofond {
        position:fixed;right:0;bottom:0;
        min-width:100%;min-height:100%;
        width:auto;height:auto; z-index:-999;
        overflow:hidden;
        background:url(../voyages/vidéos/yt5s.com-Anime\ Wallpaper\ PC\ Sakura\ Tree\ \ David\ Live\ Wallpapers\ 1080pFHR.mp4) no-repeat;
        background-size:cover;}
        video{display:block;
        background-attachment: scroll;
        opacity: 80%;
  }
  #al_main{
      width: 100%;
      height: 110em;
  }
 .rectangle{
	width: 50%;
	height:950px;
	background:rgb(255, 255, 255);
    opacity: 50%;
    position: absolute;
    /* top: 22%; */
    left: 25%;
    z-index: -5;
    padding-top: 40em;
}
#al_h1{
    font-size:400%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    font-family:kashima_brush;
    
}
.al_h2{
    font-size: 190%;
}
#al_texte1{
    position: absolute;left: 40%; top: 69%;
    flex-direction: column;
}
.al_para{
    font-size: 131%;
}
#al_texte2{
    text-align: end;
    position: absolute;right:38%; top: 100%;
}

#al_h2_2{
    position: absolute;left:40%; top: 135%;
    font-size: 190%;
}
#al_para2_2{
    position: absolute;left:29%; top: 210%;
    font-size: 131%;
    text-align: center;
}

#filleattache{
    /* display: flex; */
    /* padding-left: 16.3%; */
    /* padding-top: 20%; */
    position: absolute; left: 16.6%; top: 155%;
    z-index: 100;
}
#fillerouge{
 position: absolute; left: 74%; top: 155%;
 z-index: 100;
}
#imagegastro{
    position: absolute; bottom: 10%; right: 61%;
    box-shadow: 10px 10px 5px #525151;
}
#imageculture{
    position: absolute; bottom: -27%; right: 15%;
    box-shadow:-10px 7px 7px #525151;
}
#videomanga{
    position: absolute; bottom: -100%; left: 25%;
    /* box-shadow:-10px 7px 7px #525151; */
}

/* debut header  */
#menu-demo, #menu-demo ul{
    font-size: 30px;
    list-style:none;
    text-align:center;
    }
    #menu-demo li{
    display:inline-block;
    position:relative;
    border-radius:10em;
    }
    #menu-demo ul li{
    display:inherit;
    }
    #menu-demo ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    }
    #menu-demo li:hover ul{
    max-height:15em;
    }

    #menu-demo a{
    text-decoration:none;
    display:block;
    padding:8px 52px;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #a2eeff;
    border-radius: 10em;
    }

    
#crheader{
    height: 32em;
    background-color: #8eb8eb;
    background-repeat: no-repeat;
    background-image: url(../voyages/photos/blue-blue-sky-blue-sky-over-the-ocean-nature-sky-hd-art-wallpaper-preview.png);
}
#crheaderh1{
    font-family: 'Festive', cursive;
    font-size: 4em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;

}
#crh1{
    text-decoration: none;
}
#crheaderdivcitation{
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-shadow:#5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
    color:#00CFFF;
    
}
#crheaderauteur{
    display: flex;
    justify-content: center;
}
#crheaderul{
    margin-top: 7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.crheaderli{
    display: inline;
    list-style-type: none;
}
.crheadera{
    display: inline-block;
    margin: 0 30px;
    font-size: 2em;
    color: black;
    text-decoration: none;
    list-style-type: none;
    /* text-shadow:0 0 3px #0061FE, 0 0 7px #0061FE, 0 0 20px #0061FE;color:#0061FE; */
    background-color:#a1e4ff;
    border-radius: 10em;
    width: 10em;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#crheaderleader {
    width: 30px;
    height: 4px;
    background-color: var(--fecorange);
    margin: 2px 0;
    border-radius: 5px;
}
.crheaderbar {
    text-decoration: none;
    color: inherit;
}
#crheaderform{
    margin-top: 4em;
    display: flex;
    justify-content: center;  
}
.crheaderinput{
    border-radius: 10em;
    font-size: 25px;
    /* text-shadow:0 0 3px #0061FE, 0 0 7px #0061FE, 0 0 20px #0061FE;color:#0061FE; */
    background-color: #a1e4ff;

}
/* fin header  */